<div class="home-content">
  <div class="books-visual">
    <h2 class="page-title">Books</h2>
    <p>
      Books-Life<br>
      貴方のお気に入りの一冊が見つかりますように。
    </p>
  </div>
</div>

<div class="home-content">投稿一覧</div>
<div class="wrapper grid">
  <% @books.each do |book| %>
    <div class="item">
      <%= image_tag book.get_image, size: "300x300" %>
      <p><%= link_to book.title, book_path(book) %></p>
      <p><%= book.body %></p>
    </div>
  <% end %>
</div>



