<div class="home-content">
  <div class="books-visual">
    <h2 class="page-title">Books</h2>
    <p>
      Books-Life<br>
      貴方のお気に入りの一冊が見つかりますように。
    </p>
  </div>
</div>

<div class="wrapper grid">

     <% @books.each do |book| %>
     <div class="item">
      <%= image_tag book.get_image, size: "380x380" %>
      <p><%= link_to book.title, book_path(book) %></p>
      <p><%= book.body %></p>
      <p><%= link_to "本の編集", edit_book_path(book) %></p>
      </div>
      <% end %>
  
</div>



