<h1>Book一覧</h1>

<section>
      タイトル
      感想
      <% @books.each do |book| %>
      <%= image_tag book.get_image, size: "100x100" %>

      <%= link_to book.title, book_path(book) %>
      <%= book.body %>
      <%= link_to "本の編集", edit_book_path(book) %>
      <% end %>
</section>
