
  <div class="home-content wrapper">
    <div class="top-visual">
      <h2 class="page-title">no-book-no-life</h2>
      <%= link_to "新規会員登録はこちら", new_user_registration_path, class: "button edit-link" %>
    </div>
  </div>
