
  <div class="home-content wrapper">
    <div class="top-visual">
      <div class="top-visual-content">
        <h2 class="page-title">no-book-no-life</h2>
        <%= link_to "新規会員登録はこちら", new_user_registration_path, class: "button edit-link" %>
        <%= link_to "ログインはこちら", new_user_session_path, class: "edit-link"%>
      </div>
    </div>
  </div>
